a {
    text-decoration: none;
    transition: 0.1s;
}

a:hover {
    color: rgba(255, 255, 255, 0.75);
    transition: 0.1s;
}

.logo {
    background: -webkit-linear-gradient(0deg, #ff66e8, #72ddf7, #00d5ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}